body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.top_container {
  background-color: #e2f6f6;
}

.middle_container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom_container{
  background-color: blue;
  height: 200px;
  width: 200px;
}

.text-design {
  text-decoration: underline;
}
